<h2>GAME OVER</h2>
<br>
<h2>Here is the final score table</h2>
<div v-for=" object of me.scores" class="col-md-2 text-center">
    <div class="gameover">
        <p><strong>{{object.player}}</strong></p>
        
        <p><strong>{{object.score}}</strong></p>
    </div>

</div>