<div class="row">
    <h2 class="votes" >Here are the answers on this prompt</h2>
    <h2 class="prompt">{{display.prompt}}</h2>
    <div v-for="answer of display.answers" class="col-md-2 text-center">
        <div class="answer">
            <p><strong >{{answer}}</strong></p>
        </div>

    </div>
</div>