<div class="row">
    <h2 class="votes" >Here are the answers on this prompt (click the one you like most)</h2>
    <h2 class="prompt">{{me.prompt}}</h2>
    <div v-for="answer of me.answers" class="col-md-2 text-center">
        <div class="answer">
            <p><button class="btn btn-sm btn-primary"  @click="sendVote(answer)">{{answer}}</button></p>
        </div>

    </div>
</div>